.bg-dark-top-section {
  background-color: #212529 !important;
  padding: 5% 5% 1%;
}

.bg-secondary-middle-section {
  background-color: #111 !important;
  padding: 1% 5%;
}

.bg-dark-bottom-section{
  background-color: #212529 !important;
  padding: 5% 0%;
}

.content-row {
    display: flex;
    color: white;
}

.content-row-1{
    padding : 24px;
}


.content-row-2 {
    padding: 24px;
}

.content-row-2-header{
    font-size : 28px;
    font-weight : bold;
}

.about-img-main {
    width: 350px;
    height: 500px;
}